.button {
  padding: 5px 10px;
  background-color: inherit;
  border: 1px solid black;
  font-size: 16px;
  cursor: pointer;
  margin: 10px
}

.disabled {
  padding: 5px 10px;
  border-radius: 20px;
}