@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arizonia&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Carattere&display=swap');

*{
  margin: 0;
  padding: 0;
}

body{
  border: none;
  outline: none;
}

h1{
  font-weight: 500;
  font-size: 24px;
  line-height: 1.2;
}